@{
    ViewData["Title"] = "Goal";
}
<div class="row container-fluid align-items-center justify-content-center">
    <div class="d-flex col align-items-start justify-content-center h-100 align-self-start">
        @await Html.PartialAsync("CreateStatelessDateModal")
        <div class="d-flex col align-items-start justify-content-center h-100 align-self-start" id="calendar"></div>
    </div>
    <div class="goals-container col-md d-flex flex-column">
        <div class="mb-3 text-center d-flex flex-row justify-content-between">
            <div>Goals</div>
            @await Html.PartialAsync("CreateGoalModal")

  

        </div>
        
        <div class="goals" id="goals"></div>


    </div>
</div>

@section Scripts{
    <script type="module" src="~/js/Calendar/vanilla-calendar.min.js" asp-append-version="true"></script>
    <script type="module" src="~/js/Calendar/goal.js" asp-append-version="true"></script>
}
@section Styles{
    <link rel="stylesheet" href="~/css/vanilla-calendar.min.css"/>
    <link rel="stylesheet" href="~/css/light.min.css"/>
    <link rel="stylesheet" href="~/css/goal.css"/>
}